.colorhed{
    color: brown;
    
}
.greeancolor{
    color: green;
    font-size: 40px;
    
}
.blue{
    color: aqua;
    font-size: 30px;
}
.yellow{
    color: rgb(152, 152, 21);
    font-size: 20px;
}
.blueji{
    color: blueviolet;
}